// 常用样式
/*
 * 不可换行
 */
@mixin no_warp {
  white-space: nowrap;
}
/* 
 * 不可换行切超出以...显示
 */
@mixin no_warp_hide {
  @include no_warp;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
/*
 * flex布局 
 */
@mixin flex {
  display: flex;
}
/*
 * flex布局两端对齐
 */
@mixin flex_between {
  @include flex;
  justify-content: space-between;
}
/*
 * flex右端对齐
 */
@mixin flex_end {
  @include flex;
  justify-content: flex-end;
}
/*
 * flex水平居中对齐
 */
@mixin flex_rule_center {
  @include flex;
  justify-content: center;
}
/*
 * flex垂直居中对齐 
 */
@mixin flex_vertical_center {
  @include flex;
  align-items: center;
}
/*
 * flex完全居中
 */
@mixin flex_center {
  @include flex_rule_center;
  align-items: center;
}
/*
 * flex换行
 */
@mixin flex_wrap {
  @include flex;
  flex-wrap: wrap;
}
/*
 * 过渡效果
 */
@mixin transition {
  transition: all 0.5s;
}
