// 颜色值
$blue: #348af4;
$darkBlue: #001529;
$baby-blue: #edf2fd;
$white: #fff;
$red: #ff0000;
$gray1: #c4cbdd;
$gray2: #fafbfc;
$gray3: #cfcfcf;
$gray4: #a0a9c1;
$gray5: #f8f9fb;
$gray6: #e8ecef;
$gray7: #f8fafb;
$yellow: #f6ad60;
$green: #46c779;
$orangered: #f66060;
$black: #303954;
$select-i: #7e8cb0;
$purple: #a58ef9;
// 常用值
$form-width: 30rem;
$form-height: 3rem;
$radius: 4px;
$radius-circle: 50%;
$border: 1px solid;
$box-shadow: 0 2px 18px 0 rgba(7, 17, 107, 0.1);
$font-family: "微软雅黑";
